<div><h1>Modifier la fiche de relevés</h1></div>
<%= link_to  sites_path, :class => "btn btn-primary" do %>
<span class="fa fa-backward"> </span> Annuler les modifications
<% end %>
<hr>
<%= render 'form' %>
