<h1>Saisie des données d'observations de la prairie </h1>
<%= link_to  sites_path, :class => "btn btn-primary" do %>
<span class="fa fa-backward"> </span> Annuler la création de la fiche
<% end %>
<hr>
<%= render 'form' %>
