<h1>Saisie des données d'observations de la prairie </h1>
<%= link_to 'Retourner à la liste des prairies sans enregistrer les modifications', sites_path, :class => "btn btn-primary" %>
<hr>
<%= render 'form' %>
