<!-- SECTION TITLE -->
<h2 class="text-center">FLORILÈGES "Prairies urbaines"</h2>

<!-- WRITE SOMETHING ABOUT FEATURES HERE -->
<h4 class="text-center">
Bienvenue sur l'interface de saisie des données collectées dans le cadre de la phase pilote du volet "Prairies urbaines" du programme FLORILÈGES.
</h4>
<!-- END FEATURES DESCRIPTION -->

<!-- FEATURES COLUMN -->
<div class="row" style="width:870px; margin:0 auto;">
	<div class="col-md-6 col-sm-6">
		<div class="the-box-landing border-hover-bottom text-center">
			<h4>CRÉER UN SITE</h4>
			<%= link_to new_site_path do %>
			<img src="http://d3ibatyzauff7b.cloudfront.net/assets/flat/features-geo-7b7de63eee9db38607bf2c14e7fe2bb1.png" class="small-icon" style="margin:20px auto;" alt="Collections">
			<% end %>	
			<p>
			Créer les prairies suivies avec le protocole FLORILÈGES
			</p>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">
		<div class="the-box-landing border-hover-bottom text-center">
			<h4>VOIR LES SITES SUIVIS</h4>
			<%= link_to sites_path do %>
			<img src="http://d3ibatyzauff7b.cloudfront.net/assets/flat/features-geo-7b7de63eee9db38607bf2c14e7fe2bb1.png" class="small-icon" style="margin:20px auto;" alt="Collections">
			<% end %>
			<p>
			Consulter l'ensemble des sites suivis et renseigner les fiches "Gestion" et "Relevés"
			</p>
		</div>
	</div>
</div>
<!-- END FEATURES COLUMN -->


<div class="the-box-landing border-color-left">
	<div class="row">
		<div class="col-sm-9">
			<h4>Retrouver l'ensemble des informations saisies depuis cette interface sur votre tableau de bord.</h4>
		</div>
		<div class="col-sm-3">
		<a href="users/sign_up"><button class="btn btn-default btn-teplok btn-block btn-lg btn-purchase"><i class="fa fa-sign-in"></i> Consulter</button></a>
		</div>
	</div>
</div>