<div style="margin: 30px;">
	<!-- SECTION TITLE -->
	<h2 class="text-center">FLORILÈGES "Prairies urbaines"</h2>

	<!-- WRITE SOMETHING ABOUT FEATURES HERE -->
	<h4 class="text-center">
	Bienvenue sur l'interface de saisie!
	</h4>
	<!-- END FEATURES DESCRIPTION -->	
</div>

<!-- FEATURES COLUMN -->
<div class="row" style="width:950px; margin:0 auto;">
	<div style="margin: 0 0 0 0;">
		<div class="col-md-6 col-sm-6">
				<%= link_to new_site_path, { :class => 'caption', :data => { :title => 'AJOUT PRAIRIE', :description => "Créer une nouvelle prairie et renseigner les fiches « localisation & historique » et « relevé & gestion » " } } do %>
					<img src="images/prairies_add.jpg" alt="Ajout d'une prairie"/>
				<% end %>	
			</div>
			<div class="col-md-6 col-sm-6">
				<%= link_to sites_path, { :class => 'caption', :data => { :title => 'PRAIRIES SUIVIES', :description => "Consulter l'ensemble des sites suivis et renseigner la fiche «  relevé & gestion »" } } do %>
					<img src="images/prairies_search.jpg" alt="Consultations des prairies"/>
				<% end %>	
			</div>
	</div>
</div>
<!-- END FEATURES COLUMN -->