<!-- SECTION TITLE -->
<h2 class="text-center">FLORILÈGES "Prairies urbaines"</h2>

<!-- WRITE SOMETHING ABOUT FEATURES HERE -->
<h4 class="text-center">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
</h4>
<!-- END FEATURES DESCRIPTION -->

<!-- FEATURES COLUMN -->
<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="the-box-landing border-hover-bottom text-center">
			<h4>CRÉER UN SITE</h4>
			<a href="/plantes">
			<img src="http://d3ibatyzauff7b.cloudfront.net/assets/flat/features-faceting-90ac3cf881c863e340eeda0ecf9e1707.png" class="small-icon" alt="Recherche">
			</a>
			<p>
			Recherche par nom et recherche à facettes sur 133 600 plantes
			</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="the-box-landing border-hover-bottom text-center">
			<h4>LISTES ET COLLLECTIONS</h4>
			<a href="/collections">
			<img src="http://d3ibatyzauff7b.cloudfront.net/assets/flat/features-geo-7b7de63eee9db38607bf2c14e7fe2bb1.png" class="small-icon" alt="Collections">
			</a>
			<p>
			Créer vos listes de végétaux et collections géolocalisées
			</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="the-box-landing mask-hover-bottom text-center">
			<h4>QR CODES</h4>
			<img src="assets/img/flat-icon/qrcode.png" class="small-icon" alt="Features image">
			<p>
			Suivi du patrimoine végétal et inventaire photographique
			</p>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="the-box-landing mask-hover-bottom text-center">
			<h4>MODULE PÉDAGOGIQUE</h4>
			<img src="assets/img/flat-icon/academic.png" class="small-icon" alt="Features image">
			<p>
			Outil numérique pour l'aide à l'apprentissage des végétaux
			</p>
		</div>
	</div>
</div>
<!-- END FEATURES COLUMN -->


<div class="the-box-landing border-color-left">
	<div class="row">
		<div class="col-sm-9">
			<h4>Vous pouvez accéder gratuitement à Végébase en créant simplement un compte. Des services améliorés sont proposés aux adhérents, partenaires et contributeurs du projet.</h4>
		</div>
		<div class="col-sm-3">
		<a href="users/sign_up"><button class="btn btn-default btn-teplok btn-block btn-lg btn-purchase"><i class="fa fa-sign-in"></i> Créer un compte</button></a>
		</div>
	</div>
</div>