<section class="pb-20 relative block bg-gray-900">
  <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl text-white tracking-wide">Espace administrateur</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          Bienvenue! Vous retrouverez ici toutes les actions disponibles pour administrer les données du programme.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
          <i class="fas fa-group text-xl"></i>
        </div>
        <h6 class="text-xl mt-5 font-semibold text-white">
          Gestion des utilisateurs
        </h6>
        <p class="mt-2 mb-4 text-gray-500">
          Gérer les rôles de l'ensemble des utilisateurs inscrits sur ce site de saisie. 
          Les fonctions de gestion de groupes ne sont pas encore disponible.
        </p>
        <div class="text-center mt-6 mb-12">
          <%= link_to users_path do%>
            <button
                      class="bg-gray-200 text-gray-900 hover:bg-gray-600 hover:text-gray-200 active:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                      style="transition: all 0.15s ease 0.10s;"
                    >
              Gérer la liste
            </button>
          <% end %>
        </div>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
          <i class="fas fa-poll text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">
          Export des données
        </h5>
        <p class="mt-2 mb-4 text-gray-500">
          Demande d'export de l'ensemble de la base de données. 
          Ces fichiers vous seront envoyés à l'adresse électronique associée à votre compte.
        </p>
        <div class="text-center mt-6 mb-12">
          <button
            class="bg-gray-200 text-gray-900 active:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
            type="button"
            style="transition: all 0.15s ease 0s;"
            onclick="toggleModal('export-modal')"
           >
            Exporter les données
          </button>
        </div>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
          <i class="fas fa-lightbulb text-xl"></i>
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">Il manque quelque chose?</h5>
        <p class="mt-2 mb-4 text-gray-500">
          Contactez directement le support technique pour envisager une amélioration des fonctionnalités de cet espace.
        </p>
        <div class="text-center mt-6 mb-12">
          <button
                      class="bg-gray-200 text-gray-900 active:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                      style="transition: all 0.15s ease 0s;"
                    >
            Support technique
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="export-modal-backdrop"></div>
<!--MODAL -->
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="export-modal">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-3xl font-semibold">
          Export des données
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('export-modal')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-gray-600 text-lg leading-relaxed">
          Vos données seront rassemblés dans un tableur au format .xlsx qui sera envoyé à l'adresse électronique 
          associée à votre profil Florilèges, à savoir <%= @current_user.email %>. 
          Si nécessaire, vous pouvez modifier cette adresse électronique depuis les paramètres de votre profil.
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" onclick="toggleModal('export-modal')">
          Annuler
        </button>
        <%= button_to admin_export_path, class:'bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1'  do %>
          <i class="fa fa-paper-plane mr-3"></i> Envoyer les données </br>
      <% end %>
    </div>
  </div>
</div>
<!-- /MODAL -->
<script type="text/javascript">
  function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>
