/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require bootstrap-datepicker3
 *= require select2
 *= require select2-bootstrap
 *= require jquery.steps
 *= require hover.icon
 *= require offcanvas
 *= require rails_bootstrap_forms
 *= require bootstrap-datetimepicker
 *= require_tree .
 */

// INSTANT SEARCH ALGOLIA

.hit-instant-search {
  border: 1px solid #EFEFEF;
  margin-bottom: 10px;
  padding: 10px 20px;

  strong {
    color: #336ca6;
    font-family:"open_sanssemibold";
  }
}

.taxon{
  span {
    color: #B3C833;
    font-family:"open_sanssemibold";
  }
}


//** SELECT2 BOOTSTRAP **//

.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;   
}

.form-control.select2-container {
    height: auto !important;
    padding: 0;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

.control-group.warning .select2-container .select2-choice,
.control-group.warning .select2-container .select2-choices,
.control-group.warning .select2-container-active .select2-choice,
.control-group.warning .select2-container-active .select2-choices,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.warning .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #C09853 !important;
}

.control-group.warning .select2-container .select2-choice div {
    border-left: 1px solid #C09853 !important;
    background: #FCF8E3 !important;
}

.control-group.error .select2-container .select2-choice,
.control-group.error .select2-container .select2-choices,
.control-group.error .select2-container-active .select2-choice,
.control-group.error .select2-container-active .select2-choices,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.error .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #B94A48 !important;
}

.control-group.error .select2-container .select2-choice div {
    border-left: 1px solid #B94A48 !important;
    background: #F2DEDE !important;
}

.control-group.info .select2-container .select2-choice,
.control-group.info .select2-container .select2-choices,
.control-group.info .select2-container-active .select2-choice,
.control-group.info .select2-container-active .select2-choices,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.info .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #3A87AD !important;
}

.control-group.info .select2-container .select2-choice div {
    border-left: 1px solid #3A87AD !important;
    background: #D9EDF7 !important;
}

.control-group.success .select2-container .select2-choice,
.control-group.success .select2-container .select2-choices,
.control-group.success .select2-container-active .select2-choice,
.control-group.success .select2-container-active .select2-choices,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.success .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #468847 !important;
}

.control-group.success .select2-container .select2-choice div {
    border-left: 1px solid #468847 !important;
    background: #DFF0D8 !important;
}


//** END OF SELECT2 BOOTSTRAP  **//



//** TELPOK **//

// ** @import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700); **//

/** BOOTSTRAP CUSTOMS **/

a{color: #B3C833}
a:hover{color: #9DB41F}
.container{position:relative}
.btn{border-radius: 2px;}
.form-control{
  border-radius: 0;
  border-color: #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control:focus{
  border-color: #BFBFBF;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control.input-lg{
  border-width: 3px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #D64040;
}

.has-error .form-control {
  border-color: #D64040;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-error .form-control:focus {
  border-color: #CE3636;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-error .input-group-addon {
  color: #D64040;
  background-color: #f2dede;
  border-color: #D64040;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #B3C833;
}

.has-success .form-control {
  border-color: #B3C833;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-success .form-control:focus {
  border-color: #9DB41F;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-success .input-group-addon {
  color: #B3C833;
  background-color: #dff0d8;
  border-color: #B3C833;
}


/** STYLING **/
.wrapper{position: relative;}
.clear{clear: both;}

button.btn.btn-default.btn-teplok,
a.btn.btn-default.btn-teplok{
  background-color:#B3C833;
  color: #fff;
  border-color: #B3C833;
}

button.btn.btn-default.btn-teplok:hover,
button.btn.btn-default.btn-teplok:focus,
a.btn.btn-default.btn-teplok:hover,
a.btn.btn-default.btn-teplok:focus{
  background-color:#9DB421;
  border-color: #B3C833;
}
.btn i{margin-right: 5px;}
.btn.btn-distance{margin: 20px 0;}


/** HEADER **/
#header-landing{
  height: 100vh;
  position:relative;
  background: rgba(1,1,1,.5);
}
#header-landing.inner-page{
  height: auto;
  position:relative;
  background: rgba(1,1,1,.5);
}
#header-landing #logo{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
}
#header-landing #logo h1{
  font-size: 32px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 700;
  letter-spacing: -1px;
}
#header-landing #logo h1 a{
  color: #fff;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
#header-landing #logo h1 a:hover,
#header-landing #logo h1 a:focus{
  color: #fff;
  text-decoration: none;
}
#header-landing #logo h1 i{color: #B3C833;}
#header-landing #nav-menu{
  padding: 0;
  background: #272727;
  z-index: 20;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#header-landing #nav-menu .menus{
  float: right;
  font-size: 14px;
  padding: 5px 0;
}
#header-landing #nav-menu .menus ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#header-landing #nav-menu .menus ul li{display: inline-block;}
#header-landing #nav-menu .menus ul li a{
  color: #fff;
  padding: 15px 15px;
  border-radius: 5px;
  line-height: 100%;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
#header-landing #nav-menu .menus ul li a:hover,
#header-landing #nav-menu .menus ul li a:focus{
  color: #B3C833;
  background: #1C1C1C;
}
#header-landing #nav-menu .menus ul li.active a,
#header-landing #nav-menu .menus ul li.active a:hover,
#header-landing #nav-menu .menus ul li.active a:focus{
  color: #B3C833;
  background: #1C1C1C;
}
#header-landing #nav-menu .menus ul li a i{display: none;}
#header-landing .awesome-slogan{
  text-align:center;
  padding-top: 10%;
}
#header-landing .awesome-slogan h2{
  padding: 15px 20px;
  color: #fff;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -2px;
  display: block;
  text-transform: uppercase;
}
#header-landing .awesome-slogan h4{
  padding: 10px 20px;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  display: block;
}
#header-landing .awesome-slogan h2 span,
#header-landing .awesome-slogan h4 span{
  font-weight: 600;
  color:#b3c833;
}
#header-landing .awesome-slogan p{
  font-size: 18px;
  margin: 20px 0;
  color: #fff;
  padding: 5px 10px;
  display: block;
}
#header-landing .awesome-slogan .social-icons{
  padding: 20px;
  display: block;
}
#header-landing .awesome-slogan .social-icons img{
  width: 35px;
  margin: 2px;
}


/** SECTION **/
.section-theme-landing{
  height: 10px;
  background: #B3C833;
}
.section-page-landing{
  background: #fff;
  z-index: 1;
}
.section-page-landing.section-transparent{
  background: transparent;
  color: #fff;
}
.section-page-landing.section-grey{
  background: #353535;
  color: #fff;
}
.section-page-landing.section-grey hr{
  height: 1px;
  background: #272727;
  margin: 50px 0;
  border: none;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
  -moz-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
  box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
}
.section-page-landing.section-light-grey{
  background: #e4e4e4;
}
.section-page-landing.section-beige{
  background: #f3efe0;
}

.section-page-landing .section-overlay{
  background: rgba(1,1,1,0.5) url(../third/vegas/overlays/02.png);
  width: 100%;
  height: auto;
}
.section-page-landing .inner-section{
  padding: 20px 20px;
}
.section-page-landing#quote{
  background:url(../../images/image001.jpg) 100% 0 no-repeat fixed;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/image001.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/image001.jpg', sizingMethod='scale')";
}
.section-page-landing#pricing-table{
  background:url(../../images/image001.jpg) 100% 0 no-repeat fixed;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/image001.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/image001.jpg', sizingMethod='scale')";
}


/** BOXES **/
.the-box-landing{
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.the-box-landing.the-box-light-grey{background: #f3f3f3;}
.the-box-landing.the-box-mid-grey{background: #ddd;}
.the-box-landing.the-box-transparent{background: transparent;}
.the-box-landing.border-hover-bottom{border-bottom: 3px solid transparent;}
.the-box-landing:hover.border-hover-bottom{border-bottom-color: #B3C833;}
.the-box-landing.border-color-left{border-left: 5px solid #B3C833;}
.the-box-landing.border-color-top{border-top: 5px solid #B3C833;}
.the-box-landing.border-color-bottom{border-bottom: 5px solid #B3C833;}
.the-box-landing.border-color-right{border-right: 5px solid #B3C833;}

.the-box-landing.border-darkgreen-left{border-left: 5px solid #388a5a;}
.the-box-landing.border-darkgreen-top{border-top: 5px solid #388a5a;}
.the-box-landing.border-darkgreen-bottom{border-bottom: 5px solid #388a5a;}
.the-box-landing.border-darkgreen-right{border-right: 5px solid #388a5a;}

.the-box-landing.border-orange-left{border-left: 5px solid #f8c43a;}
.the-box-landing.border-orange-topbottom{border-top: 5px solid #f8c43a; border-bottom: 5px solid #f8c43a; background: #fde8b0; padding: 0px;}

.the-box-landing.full{padding: 0px;}
.the-box-landing.padd{padding: 10px;}
.the-box-landing h3{
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.the-box-landing h4{font-weight: 300;}
.the-box-landing p{font-size: 15px;}
.the-box-landing img.small-icon{
  margin: 25px 0;
  width: auto;
}
.btn.btn-purchase{margin-top: 10px;}



/** CUSTOM HOVER ICON **/
/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  color: #B3C833;
}

.hi-icon-effect-9 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #B3C833;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
  text-decoration: none;
}

.no-touch .hi-icon-effect-9a .hi-icon:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,1);
  color: #B3C833;
  text-decoration: none;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.no-touch .hi-icon-effect-9b .hi-icon:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
  color: #B3C833;
}



/** TESTIMONIAL **/
.carousel-landing.carousel.carousel-testimonial{
  padding: 30px 0 40px;
  margin: 20px 0;
  text-align: center;
  position: relative;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-icon{
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  padding: 30px;
  z-index: 3;
  color: #B3C833;
  font-size: 24px;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-inner{
  padding: 20px 20px 35px;
  margin: 0 0 70px 0;
  color: #fff;
  position: relative;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-inner h5{
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
  padding: 35px;
  margin: 0;
  border: 1px dashed #B3C833;
  border-radius: 10px;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-inner h4.testimonial-name{
  color: #fff;
  padding: 10px 25px 30px;
  background: #272727;
  display:inline-block;
  border-radius:10px;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-inner .testimonial-avatar{
  position: absolute;
  bottom: 0px;
  display: block;
  padding: 10px;
  height: 80px;
  left: 0;
  right: 0;
  z-index: 10;
}
.carousel-landing.carousel.carousel-testimonial .testimonial-inner .testimonial-avatar img{
  width: 90px;
  padding: 5px;
  background: #272727;
}

/** PORTFOLIO **/
.portfolio-landing{margin: 40px 0;}
.portfolio-landing .nav li{
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 10px 20px;
  text-align: center;
  color: #5b5b5b;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.portfolio-landing .nav li:hover{
  background-color: #f4f4f4;
}
.portfolio-landing .nav-pills > li.active,
.portfolio-landing .nav-pills > li.active:hover,
.portfolio-landing .nav-pills > li.active:focus {
  background-color: #B3C833;
  color: #fff;
}
.portfolio-landing #portfolio-grid{}
.portfolio-landing #portfolio-grid:before,
.portfolio-landing #portfolio-grid:after {
  display: table;
  content: " ";
}
.portfolio-landing #portfolio-grid:after {clear: both;}
.portfolio-landing ul#portfolio-grid{
  padding: 0;
  margin: 30px 0;
  list-style: none;
}
.portfolio-landing #portfolio-grid .mix{
  display: none;
  opacity: 0;
  width: 25%;
  height: 175px;
  overflow: hidden;
  background: #ccc;
  text-align: center;
  margin: 0;
  float: left;
  position:relative;
}
.portfolio-landing #portfolio-grid .mix img{
  width: 100%;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.portfolio-landing #portfolio-grid .mix:hover img{
  margin-top: 100px;
}
.portfolio-landing #portfolio-grid .mix .des{
  padding: 30px 10px;
  background: #B3C833;
  color: #fff;
  height: 200px;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.portfolio-landing #portfolio-grid .mix .des h4{
  padding: 0;
  margin: 5px 0;
}
.portfolio-landing #portfolio-grid .mix .des a i{
  padding: 5.5px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.portfolio-landing #portfolio-grid .mix:hover .des{
  top: 0px;
}
table.table.table-modal-project{margin: 15px 0;}

.table.table-modal-project > tbody > tr > td{
  border-top: none;
  padding: 5px 0;
}



/** PRICING TABLES **/
.pricing-table-landing{
  text-align: center;
  position: relative;
  margin: 30px 0;
  color: #353535;
  -webkit-transition:All 0.25s ease;
  -moz-transition:All 0.25s ease;
  -o-transition:All 0.25s ease;
}
.pricing-table-landing:hover{
  box-shadow: 0 0 0 5px rgba(255,255,255,1);
}
.pricing-table-landing .the-box-landing{
  margin: 0;
}
.pricing-table-landing .header{
  padding: 15px 0 70px;
  background: #D6D6D6;
}
.pricing-table-landing .circle-price-wrap{
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -75px;
  border: 3px solid #D6D6D6;
}
.pricing-table-landing .circle-price-wrap h2{
  font-size: 40px;
  padding: 15px 0 ;
}
.pricing-table-landing .circle-price-wrap h2 small{
  font-size: 14px;
  color: #909090;
  display: block;
}
.pricing-table-landing table.table-inner{
  margin: 100px 0 0 0;
  padding: 0;
}

.pricing-table-landing table.table-inner > tbody:first-child > tr:first-child > td {border-top: 0;}
.pricing-table-landing table.table-inner > thead > tr > th,
.pricing-table-landing table.table-inner > tbody > tr > th,
.pricing-table-landing table.table-inner > tfoot > tr > th,
.pricing-table-landing table.table-inner > thead > tr > td,
.pricing-table-landing table.table-inner > tbody > tr > td,
.pricing-table-landing table.table-inner > tfoot > tr > td {
  padding: 15px;
  font-size: 16px;
  vertical-align: middle;
  border-top: 1px dotted #dddddd;
}

.pricing-table-landing:hover.best-choice{box-shadow: 0 0 0 5px rgba(179,200,51,1);}
.pricing-table-landing.best-choice .header{
  background: #B3C833;
  color: #fff;
}
.pricing-table-landing.best-choice .circle-price-wrap{border: 3px solid #B3C833;}
.pricing-table-landing.best-choice .circle-price-wrap h2{color: #B3C833;}
.pricing-table-landing.best-choice .circle-price-wrap h2 small{color: #A0B724;}
.pricing-table-landing.best-choice table.table-inner{
  margin: 100px 0 0 0;
  padding: 0;
}
.pricing-table-landing.best-choice table.table-inner > tbody:first-child > tr:first-child > td {border-top: 0;}



/** BLOG **/
.blog-landing{}
.blog-landing:before,
.blog-landing:after {
  display: table;
  content: " ";
}
.blog-landing:after {clear: both;}
.blog-landing .blog-latest-img{
  float: left;
  width: 40%;
  height: 145px;
  overflow: hidden;
  position: relative;
  background: #B3C833;
}
.blog-landing .blog-latest-img .show-link-icon{
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
  z-index: 1;
}
.blog-landing .blog-latest-img:hover .show-link-icon{
  bottom: 40%;
  opacity: 1;
}
.blog-landing .blog-latest-img img{
  width: 100%;
  -webkit-transition:All 0.6s ease;
  -moz-transition:All 0.6s ease;
  -o-transition:All 0.6s ease;
}
.blog-landing .blog-latest-img:hover img{opacity: 0;}
.blog-landing .blog-latest-des{
  float: left;
  width: 60%;
  padding: 5px 15px;
}
.blog-landing .blog-latest-des h3{
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 10px;
}
.blog-landing .blog-latest-des h3 a{color: #353535;}
.blog-landing .blog-latest-des h3 a:hover,
.blog-landing .blog-latest-des h3 a:focus{
  color: #B3C833;
  text-decoration: none;
}
.blog-landing .blog-latest-des p.additional{color: #909090;}
.blog-landing .blog-column{}
.blog-landing .blog-column .img-wrap{
  height: 145px;
  overflow: hidden;
  position: relative;
  background: #B3C833;
}

.blog-landing .blog-column .img-wrap .show-link-icon{
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
  z-index: 1;
}
.blog-landing .blog-column .img-wrap :hover .show-link-icon{
  bottom: 40%;
  opacity: 1;
}
.blog-landing .blog-column .img-wrap img{
  width: 100%;
  -webkit-transition:All 0.6s ease;
  -moz-transition:All 0.6s ease;
  -o-transition:All 0.6s ease;
}
.blog-landing .blog-column .img-wrap:hover img{opacity: 0;}
.blog-landing .blog-column-des{padding: 15px;}
.blog-landing .blog-column-des h3{
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
.blog-landing .blog-column-des h3 a{color: #353535;}
.blog-landing .blog-column-des h3 a:hover,
.blog-landing .blog-column-des h3 a:focus{
  color: #B3C833;
  text-decoration: none;
}
.blog-landing .blog-column-des p.additional{
  color: #909090;
  font-size: 13px;
}


/** THE TEAM **/
.the-team-landing{margin: 30px 10px;}
.the-team-landing .des{padding: 15px;}
.the-team-landing h5{color: #B3C833;}
.the-team-landing .ava-wrap{
  height: 230px;
  overflow: hidden;
  position: relative;
}
.the-team-landing .ava-wrap .see-detail{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1,1,1,0);
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.the-team-landing :hover.ava-wrap .see-detail{background: rgba(1,1,1,.5);}
.the-team-landing .ava-wrap .button-link{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}
.the-team-landing .ava-wrap .button-link i{
  color: #fff;
  padding: 7.7px;
  margin: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  -webkit-transition:All 0.1s ease;
  -moz-transition:All 0.1s ease;
  -o-transition:All 0.1s ease;
}
.the-team-landing .ava-wrap .button-link i:hover{
  border-width: 4px;
  padding: 4.7px;
}
.the-team-landing .ava-wrap .button-link a{color: #fff;}
.the-team-landing .ava-wrap .button-link a:focus,
.the-team-landing .ava-wrap .button-link a:hover{
  color: #fff;
  text-decoration: none;
}
.the-team-landing .ava-wrap:hover .button-link{
  top: 45%;
  opacity: 1;
}
.the-team-landing img{width: 100%;}



/** CLIENTS **/
.clients{margin: 30px 0;}
.clients img{
  width: 150px;
  margin: 30px 0;
}



/** QUOTE OF THE DAY **/
.quote-landing{color: #fff}
.quote-landing h1{
  font-weight: 700;
  font-size: 45px;
}



/** CONTACT FORM **/
form.contact-form{margin: 40px 0;}



/** BACK TO TOP BUTTON **/
#back-top{
  color: #fff;
  background: #B3C833;
  font-size: 18px;
  line-height: 100%;
  display: inline-block;
  position: fixed;
  right: 0;
  bottom: 0;
}
#back-top a,
#back-top a:hover,
#back-top a:focus{
  color: #fff;
  padding: 10px;
  display: block;
}

/** BLOG PAGE **/
h2.post-heading{
  margin: 0 0 15px 0;
  font-weight: 300;
  font-size: 35px;
}
.post-additional-detail{
  margin: 10px 0 10px 0;
  padding: 15px 0;
  border-bottom: 1px dashed #ddd;
  border-top: 1px dashed #ddd;
}
.post-additional-detail p{
  line-height: 100%;
  margin: 0;
  padding: 0;
}
img.img-post-detail{margin: 0 0 20px 0;}

/** POST COMMENT **/
.post-comment{margin: 30px 0;}
.post-comment .media-list .media .media-object{
  width: 80px;
  margin-right: 10px;
}
.post-comment .media-list .media .media-body p.comment-date{color: #909090;}
.post-comment .media-list .media .media-body p.comment-action i{margin: 2px;}

/** SIDEBAR **/
.sidebar{}
.sidebar h4{
  margin: 40px 0 0 0;
}
.sidebar .search-form{
  margin: 0 0 20px 0;
  position: relative
}
.sidebar .search-form button.btn:hover,
.sidebar .search-form button.btn:focus,
.sidebar .search-form button.btn{
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  border: none;
}

.sidebar .media-list{margin: 10px 0;}
.sidebar .media-list .media-heading{
  margin: 5px 0;
  font-size: 16px;
}

/** BLOG LIST **/
.blog-list .media-list .media-heading {
  font-size: 22px;
  font-weight: 400;
}
.blog-list .media-list .media-heading a {color: #353535;}
.blog-list .media-list .media-heading a:hover{
  text-decoration: none;
  color: #B3C833;
}
.blog-list .media-list .media{margin-bottom: 40px;}
.blog-list .media-list .media-object{
  width: 225px;
  margin-top: 5px;
  margin-right: 5px;
}
.blog-list .pagination li.active a{
  background: #B3C833;
  border-color: #B3C833;
}

/** ERROR PAGE **/
.error-page{
  background: #B3C833;
  height: 100vh;
  color: #fff;
}
.error-inner{
  padding-top: 5%;
  text-align: center;
}
.error-inner a,
.error-inner a:hover{
  color: #fff;
}
.error-inner .icon-side{
  font-size: 100px;
  padding: 20px;
}
.error-inner  h1{
  font-size: 100px;
  margin: 0;
  padding: 0;
}


/** FOOTER **/
form.form-subscribe{margin: 13px 0;}
form.form-subscribe button.btn i{margin-left: 5px;}
form.form-subscribe .form-control{border: none;}
footer{
  padding: 40px 0 0;
  background: #272727;
  margin: 0 0 -30px 0;
  color: #C6C6C6;
}
footer a{color: #fff;}
footer a:hover,
footer a:focus{
  color: #B3C833;
  text-decoration: none;
}
footer h5{
  color: #B3C833;
  margin: 20px 0;
}
footer ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li{padding: 5px 0;}
footer .footer{
  padding: 20px 0 50px;
  margin: 40px 0 0px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #1c1c1c;
  -webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
  -moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
  box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
}

// GRID WITH HOVER EFFECTS

.grid {
  overflow: hidden;
  margin: 0;
  padding: 3em 0 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 33.333%;
  height: 350px;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/* GRID Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
  top: auto;
  bottom: 0;
  height: 50%;
  text-align: left;
}

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: rgba(255,255,255,0.6);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

// BLOCK-LIST

.list-block {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.list-block {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}

.frame-block {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.frame-block {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}

// SITE FIGURE STYLE

/* Common style */
.site-focus figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 100%;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.site-focus figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.site-focus figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.site-focus figure figcaption::before,
.site-focus figure figcaption::after {
  pointer-events: none;
}

.site-focus figure figcaption,
.site-focus figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.site-focus figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.site-focus figure h2 {
  word-spacing: -0.15em;
  
  font-weight: 300;
}

.site-focus figure h2 span {
  font-weight: 800;
}

.site-focus figure h2,
.site-focus figure p {
  margin: 0;
}

.site-focus figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter {
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}

figure.effect-dexter img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
  opacity: 0.4;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

// ERROR NOTIFICATIONS

.error-inline {
  background: #8f1802;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  height: 25px;
}
.error-message {
  background: #8f1802;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

// HOVER HOME PAGE

.hover-mix{
  display:none;
  height: 250px;
  background: #ffffff;
  text-align: center;
  margin: 0;
  float: left;
  position:relative;
}

.hover-mix img{
  height: 180px;
  border-radius: 50%;
}

.hover-mix .des{
  padding: 30px 10px;
  background: #B3C833;
  color: #fff;
  height: 200px;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  -webkit-transition:All 0.4s ease;
  -moz-transition:All 0.4s ease;
  -o-transition:All 0.4s ease;
}

.hover-mix .des h4{
  padding: 0;
  margin: 5px 0;
}
.hover-mix .des a i{
  padding: 5.5px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.hover-mix:hover .des{
  top: 0px;
}


// IMAGE CAPTIONS

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a {
    text-decoration: none;
    outline: none;
}

a img {
    border: none;
}

.caption {
    -webkit-backface-visibility: hidden; /* prevent flash when embedding fiddle */
  display: inline-block;
  position: relative;
  margin: 10px;
  overflow: hidden;
  background: #000;
}

.caption img {
  display: block;
  max-width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.caption:hover img {
  opacity: 0.5;
}

.caption::after,
.caption::before {
  position: absolute;
  width: 100%;
  height: 50%;
  color: #fff;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease-in-out; 
  -moz-transition: -moz-transform 0.3s ease-in-out; 
  transition: transform 0.3s ease-in-out; 
}

.caption::after {
  content: attr(data-title);
  top: 0;
  background: #0083ab;
  font-size: 40px;
  font-weight: 300;
  padding: 30px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.caption::before {
  content: '...' attr(data-description) '...';
  top: 50%;
  background: #f27545;
  font-size: 14px;
  padding: 20px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
}

.caption:hover::after,
.caption:hover::before {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

// /IMAGE CAPTIONS



