// Place all the styles related to the Releves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.typeahead, .tt-query, .tt-hint { width: 500px; padding: 8px 12px; font-size: 16px; border: 2px solid #ccc; outline: none; margin: 0px; }
.typeahead { background-color: #fff; }
.typeahead:focus { border: 2px solid #C87E05; }
.tt-query { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.tt-hint { color: #999 }
.tt-dropdown-menu { width: 100%; padding: 8px 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); }
.tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #E8B867; }
.tt-suggestion p { margin: 0; }
.tt-suggestion a { color: #000; text-decoration: none; }
.tt-suggestion strong { font-family:"open_sanssemibold"; color: #C87E05; font-style: normal; }
.tt-suggestion .attribute { margin-left: 10px; }
.tt-suggestion .attribute b { color: #666; }
.tt-suggestion.tt-cursor .attribute b { color: white; }

/**
 * Email Contacts
 */
.selectize-control.contacts .selectize-input [data-value] .email {
	opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
	margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
	content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
	content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
	font-size: 12px;
	display: block;
	opacity: 0.5;
}