// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map label {
  width: auto;
  display: inline;
}
#map img {
  max-width: none;
}

// radio checkbox overrides
input {
  margin: 4px 0 !important;
}

.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: 0px;
}
/* Google Maps Places Autocomplete */

#map-canvas label {
  width: auto;
  display: inline;
}
#map-canvas img {
  max-width: none;
}

.gmcontrols {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 40%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px; /* Regular padding-left + 1. */
  width: 45%;
}

.pac-container {
  font-family: Roboto;
  z-index: 1040 !important;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 0 0;
}
