<h1>CONSULTER LES PRAIRIES SUIVIES</h1>
<div class="row">
  <% unless @sites.empty? %>
    <%= render 'list' %>
  <% else %>
    <div class="col-md-9">
      <div class="the-box-landing border-orange-topbottom">
    <h3>CRÉER VOTRE PREMIÈRE PRAIRIE</h3>
    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
      <%= link_to 'Nouvelle prairie', new_site_path , class: 'hi-icon hi-icon-location' %>
    </div>
    </div>
  <% end %> 
</div>


<script type="text/javascript">

$("#pillSites").on('shown.bs.tab', function initializeMap() {
  var markers = <%= raw @hash.to_json %>;
  var center = { lat: 47.295493, lng: -1.3938170000000127 }; 
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: center
  });
  console.log('markers', markers)

  var marker = new google.maps.Marker({
    position: center,
    map: map,
    title: 'Hello World!'
  });
  for (var i = 0; i < markers.length; i++) {
    var site = markers[i];
    console.log("lat", site.lat)
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(site.lat), lng: parseFloat(site.lng) },
      map: map,
      title: site.infowindow
    });
    var infowindow = new google.maps.InfoWindow({
      content: site.infowindow
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
});
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_CLOUD_API_KEY']}&callback=initializeMap", {defer: true, async: true} %>