<h1>LISTE DES ESPÈCES DU GUIDE</h1>
<div class="grid">
<% @especes.each do |espece| %>
<figure class="effect-lily">
    <img src="img/3.jpg">
  <figcaption>
    <h2><i><%= espece.nom_sci %></i></h2>
    <p><%= espece.nom_vern %></p>
    <%= link_to "voir la fiche", espece_path(espece) %>
  </figcaption>
</figure>
<% end %>
</div>


<br>

<%= link_to 'New Espece', new_espece_path, class: "btn btn-success" %>
