<!-- FOOTER -->
<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">A propos de Florilèges</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">
          Programme de sciences participatives à destination des gestionnaires de prairies urbaines.
        </h5>
        <div class="mt-6">
          <button
                class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Co-fondateurs du programme</span
                >
            <ul class="list-unstyled">
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.arb-idf.fr/"
                      >ARB Île-de-France</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://ressources.seinesaintdenis.fr/-Observatoire-Departemental-de-la-Biodiversite-Urbaine-193-"
                      >CG Seine-Saint-Denis - ODBU</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.plante-et-cite.fr"
                      >Plante & Cité</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.mnhn.fr"
                      >Museum National d'Histoire Naturelle</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="http://cbnbp.mnhn.fr/cbnbp/"
                      >CBN - Bassin Parisien</a
                    >
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Autres Ressources</span
                >
            <ul class="list-unstyled">
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="http://www.vigienature.fr/"
                      >Vigie Nature</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.florileges.info"
                      >Présentation de Florilèges</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="http://www.vigienature.fr/fr/propage"
                      >PROPAGE</a
                    >
              </li>
              <li>
                <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="mailto:support@florileges.info"
                      >Support technique de ce site</a
                    >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          MIT License © 2014-2020 Plante & Cité maintenu par
          <a
                href="https://www.github.com/gaetan-pc"
                class="text-gray-600 hover:text-gray-900"
                >@gaetanateag</a
              >.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <h5></h5>
      </div>
      <div class="col-sm-6">
        <h5>PARTENAIRES</h5>
        <img style="float: left;" src="/images/partenaires_prairies_02.png" alt="partenaires" >
        <img style="float: right;" src="/images/partenaires_prairies_01.png" alt="partenaires" width="150" >
      </div>
      <div class="col-sm-3">
        <h5></h5>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->
<!-- BACK TO TOP BUTTON -->
<div id="back-top">
  <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END BACK TO TOP -->
