<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-3">
						<h5>À PROPOS DE FLORILÈGES</h5>
						<p>
						Plateforme nationale d'expérimentations et de conseils techniques à destination des services espaces verts des collectivités territoriales et des entreprises du payasage.
						<br />
						<a href="http://www.florileges.info/">En savoir plus</a>
						</p>
					</div>
					<div class="col-sm-5">
						<h5>PARTENAIRES</h5>
					</div>
					<div class="col-sm-4">
						<h5>RESTER INFORMÉ(E)</h5>
						<p>Recevez ponctuellement des informations sur l'évolution de Végébase</p>
						<form role="form" method="POST" class="form-subscribe">
							<div class="input-group">
							  <input type="text" class="form-control" placeholder="Adresse électronique">
							  <span class="input-group-btn">
								<button class="btn btn-default btn-teplok" type="button"><i class="fa fa-chevron-right"></i></button>
							  </span>
							</div>
						</form>
						<p>*jamais de spam, promis!</p>
					</div>
				</div>
			</div>
			
			<div class="footer">
				<div class="container">
					&copy; 2014 <a href="#fakelink">Plante & Cité</a><br />
					<a href="#fakelink">Ingénierie de la Nature en Ville</a> conçu avec enthousiasme par <a href="http://www.seashepherd.org/" target="_blank">Gaëtan</a> in Nantes, <abbr title="FRANCE">FR</abbr>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->
		
		
		<!-- BACK TO TOP BUTTON -->
		<div id="back-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<!-- END BACK TO TOP -->